.bsc_lower {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.bsc_lower_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 80%;
}
.bsc_lower_evening_container,
.bsc_lower_morning_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
}
