.booking_section_container {
  height: 100vh;
  width: 100%;
  display: flex;
}
.bsc_lower {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.bsc_lower_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 800px;
  height: 573px;
}
.bsc_lower_evening_container,
.bsc_lower_morning_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 547px;
}
.bsc_header {
  width: 250px;
  height: 100vh;
  overflow: scroll;
}
.md_data,
.ed_data {
  width: 100px;
  height: 45px;
  margin: 10px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #fff;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
}

.md_data:hover,
.ed_data:hover {
  color: #fff;
  background-color: green;
}
.md_data:active,
.ed_data:active {
  background-color: green;
}
.bsc_header_info {
  background: bisque;
  margin-bottom: 10px;
  margin-top: 10px;
}
.morning_info_container,
.evening_info_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.bsc_lower_evening_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.evening_info_container {
  display: flex;
  height: 392px;
  justify-content: center;
  flex-direction: row;
  width: 414px;
  align-content: center;
  align-items: flex-start;
}
.booking_c_btn {
  position: sticky;
  width: 800px;
  height: 45px;
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 30px;
}
.booking_c_btn:hover {
  color: #fff;
  background-color: #0792e0;
}
