.about_section_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.about_container {
  width: 80%;
  padding: 15px 15px;
  display: flex;
  height: 65vh;
  background-color: antiquewhite;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}
