.nav-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  width: 232px;
  justify-content: space-evenly;
  align-items: center;
}
.logo img {
  width: 30px;
  height: 30px;
}
.links {
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 15px;
  align-content: center;
  justify-content: center;
}
.MenuItems {
  margin: 10px 20px;
}
.MenuItems a {
  text-decoration: none;
}
.active_links {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.toggle_menu_icons {
  display: none;
}
@media screen and (max-width: 720px) {
  .links {
    display: none;
  }
  .toggle_menu_icons {
    display: flex;
  }
  .hamburger_menu {
    display: flex;
  }
  .close_menu {
    display: none;
  }
}
