.services_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.services_container h2 {
  width: 100%;
}
.service_info_container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  flex-wrap: wrap;
}
.service_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .service_info_container {
    display: grid;
    width: 100%;
    flex-wrap: wrap;
    justify-items: stretch;
    justify-content: center;
  }
}
